<ul style="padding-left: 10px; margin-bottom: 0;">
<% if logged_in? %>
  <% if current_user.own?(comment) %>
    <li class='list-inline-item'>
      <%= link_to comment_path(comment), method: :delete, remote: true do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </li>
  <% end %>
  <li class='list-inline-item float-end'>
    <%= render 'clip_posts/comment_like_button', comment: comment %>
  </li>
<% end %>
</ul>