<div class="container border-dark border-1 border">
  <div class="row mb-3 bg-white">
    <div class="col h3 ms-3">broadcaster_name</div>
    <div class="col d-flex justify-content-end align-items-end small">
      <div class="border-bottom border-dark text-muted">clip_created_at</div>
    </div>
  </div>
  <div class="row mb-3 bg-white">
    <div class="text-center mb-2">えいちイチ！えぬエーエーエー!!!</div>
    <div class="d-flex justify-content-center mb-2">
      <div class="ratio" style="--bs-aspect-ratio: 50%; width: 500px;">
        <iframe src="https://www.youtube.com/embed/AoUxjQOQW7A"></iframe>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <div class="row">タグコンテンツ</div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="row form-control border" style="width: 98%">コメントコンテンツ</div>
    </div>
  </div>
  <div class="row mb-3 bg-white">
    <div class="d-flex align-items-center justify-content-end">
      <i class="fa-regular fa-thumbs-up"></i>
      <div class="text-end">いいね！</div>
    </div>
  </div>
</div>