<%= render 'shared/title_bar', title: "ログイン" %>
<a href="https://id.twitch.tv/oauth2/authorize?client_id=11gshrju07m1wwgyqgpjrir3scixrl&redirect_uri=http://localhost:3000/clip_posts&response_type=token&scope=bits:read">Twitch認証</a>
