<div class="col-3">
  <div class="row">
    <div class="col-3 bg-light">
      <p></p>
    </div>
    <div class="d-inline-flex bg-light col-9 justify-content-end" style = "height: 40px">
      <div class="d-flex align-middle nav">
        <%= link_to "新規登録", new_user_path, class: "nav-link simple-button" %>
        <%= link_to "ログイン", login_path, class: "nav-link simple-button" %>
      </div>
    </div>
    <div class="row bg-light mt-3 ms-1">
      <%= render 'shared/game_index' %>
    </div>
  </div>
</div>