<div class="col-1 justify-content-end d-flex">
  <div class="d-flex flex-column mt-3 me-4">
    <!-- ログアウトリンク -->
    <div class="flex-item mb-3">
    <%= link_to  new_user_path do %>
        <i class="fa-solid fa-user-plus fa-4x simple-button-purple"></i>
      <% end %>
    </div>
    <div class="flex-item mb-3 mt-3">
      <%= link_to login_path do %>
        <i class="fa-solid fa-arrow-right-to-bracket fa-4x simple-button-purple"></i>
      <% end %>
    </div>
  </div>
</div>