<div class="col-1">
  <div class="d-flex flex-column mt-3 ms-4">
    <!-- 編集リンク -->
    <div class="flex-item mb-3">
      <%= link_to clip_posts_path do %>
        <i class="fa-solid fa-list fa-4x" style="color: gray;"></i>
      <% end %>
    </div>
    <div class="flex-item mb-3">
      <%= link_to likes_clip_posts_path do %>
        <i class="fa-solid fa-thumbs-up fa-4x" style="color: gray;"></i>
      <% end %>
    </div>
    <div class="flex-item mb-3 mt-2">
      <%= link_to new_clip_post_path do %>
        <i class="fa-solid fa-pencil fa-4x" style="color: gray;"></i>
      <% end %>
    </div>
  </div>
</div>
