<div class="fixed-bottom bg-light row">
  <div class="col-6 text-muted">
    <%= link_to "利用規約", terms_path, class: "text-muted-link me-3" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-muted-link me-3" %>
    <%= link_to "お問い合わせ", contact_path, class: "text-muted-link me-3" %>
  </div>
</div>
