<div class="text-center mt-3">
  <h5 class="tag-list-title">ゲームで見つける</h5>
</div>
<% tag_names = ClipPost.tags_on(:games).pluck(:name) %>
<% image_records = Image.where(name: tag_names).index_by(&:name) %>

<div class="d-flex flex-wrap justify-content-around">
  <% ClipPost.tags_on(:games).order(name: :asc).each do |tag| %>
    <%= link_to clip_posts_path(tag_game: tag.name), class: "no-decoration shadow-btn m-3" do %>
      <div class="flex-item">
        <% image_record = image_records[tag.name] %>
        <% if image_record && image_record.image_url.present? %>
          <%= image_tag image_record.image_url, size: "144x192" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
