<%= render 'shared/title_bar', title: "お問い合わせ完了" %>
<div class="container border-dark border-1 border mt-2">
  <div class="text-center h5 mt-2"><p>ご要望・お問い合わせありがとうございました。</p></div>
  <p>お問い合わせへの回答に関しましては、ご入力いただいたメールアドレスにご回答いたします。</p>
  <div class="d-flex justify-content-center">
    <%= link_to "閉じる", clip_posts_path, class: "btn btn-primary btn-sm mb-1" %>
  </div>
</div>
