<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>お問い合わせ</h1>
    <p>
      ユーザーidは「<%= params[:user].id %>」メールアドレスは「<%= params[:email] %>」です。<br>
    </p>
    <p>
      <お問い合わせ内容>
    </p>
    <p>「<%= params[:contact_text] %>」</p>
  </body>
</html>