// Place all the styles related to the clip_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Kosugi');

.tag_wrapper {
    background: #7fffd4; /*背景色*/
    padding: 3px 10px;/*文字周りの余白*/
    color: darkblue;/*文字を白に*/
    border-radius: 125px;/*角の丸み*/
    position: relative;
  }

.text-muted-link {
  color: #6c757d;
}

.mb-24 {
  margin-bottom: 24px;
}

.no-decoration {
  text-decoration: none;
}

.font-round {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #b003c0;
}

.font-title {
  font-family: 'Kosugi', sans-serif;
}

.background-color-lightblue {
  background-color: rgb(243, 255, 255);
}

.background-color-lightred {
  background-color: rgb(255, 248, 248);
}

.background-color-lightyellow {
  background-color: rgb(255, 254, 239);;
}

.tag-list-title {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 0.8;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.tag-list-title:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.shadow-btn {
  color:inherit;
  font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 0.1rem;
  border: 1px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.shadow-btn:last-child {
  margin: 0;
}

.shadow-btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.shadow-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}