// Place all the styles related to the clip_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url(https://fonts.googleapis.com/css?family=Roboto);
// anothor_videoのタグ選択
.cp_ipselect {
  overflow: hidden;
  display: inline-block;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border-radius: 2px;
  border: 2px solid skyblue;
  border-radius: 50px;
  background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid skyblue;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 8px 8px 8px;
  color: black;
}

.mbs-2 {
  margin-bottom: 0.5rem;
}
// タグの基本レイアウト
.tag_wrapper {
    background: #b4ffe1;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.3rem;
    color: darkblue;
    border-radius: 125px;
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }

.tag_wrapper:hover {
  background-color: #7fffd4;
  box-shadow: inset 0.1em 0.1em 0.1em rgba(244, 255, 243, 0.7), 0.1em 0.1em 0.1em rgba(244, 255, 243, 0.7);
}

.text-muted-link {
  color: #6c757d;
}

.mb-24 {
  margin-bottom: 24px;
}

.no-decoration {
  text-decoration: none;
}

nav.pagination {
  display: none;
}

h2.font-round {
  font-family: "Arial", "sans-serif";
  font-weight: bolder;
}

.font-round {
  font-family: "Arial", "sans-serif";
}

.font-title {
  font-family: 'Roboto', Arial;
}

.font-color-twitch {
  color: #bf94ff;
}
.background-color-lightblue {
  background-color: rgb(243, 255, 255);
}

.background-color-lightred {
  background-color: rgb(255, 248, 248);
}

.background-color-lightyellow {
  background-color: rgb(255, 254, 239);;
}

.tag-list-title {
  color: #505050;
  padding: 0.5em;
  display: inline-block;
  line-height: 0.8;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

.tag-list-title:before {
  content: '●';
  color: white;
  margin-right: 8px;
}
// タグ絞り込みボタン
.shadow-btn {
  color:inherit;
  font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 0.1rem;
  margin-right: 2.6rem;
  box-shadow: #bf94ff;
  transition: all 0.2s;
}

.shadow-btn:last-child {
  margin: 0;
}

.shadow-btn:hover {
  box-shadow: 0.4rem 0.4rem 0 #bf94ff;
  transform: translate(-0.4rem, -0.4rem);
}

.shadow-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.fuller-button {
	color: rgba(0, 0, 0, 0.5);
	background: white;
	border-radius: 10px;
	padding: 0.8em 0.8em;
	letter-spacing: 0.35em;
	font-size: 1em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 0;
	
	&.purple {
		border: #a2a2a2 solid 0px;
    font-family: 'Roboto', Arial;
    font-weight: bolder;
	}
	
	&.purple:hover {
		background-color: #f7f2ff;
		box-shadow: inset 0.1em 0.1em 0.1em rgba(233, 218, 255, 0.7), 0.1em 0.1em 0.1em rgba(233, 218, 255, 0.7);
	}
}
// 並び替えボタン
.buttonOutline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
  height: 30px;
  padding: 8px 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  color: #1c1c1c;;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: transparent;
  border: 0px solid #c1c1c1;
}

.buttonOutline:hover {
  transition: background-color 0.8s;
  background-color: #c1fff8;
}
// アイコンボタン用
.simple-button {
  color: black;
}

.simple-button:hover {
  transition: background-color 0.5s;
  background-color: white;
}

.simple-button-purple {
  transition: color 0.5s;
  color: gray;
}

.simple-button-purple:hover {
  transition: color 0.5s;
  color: #bf94ff;
}

//アカウントボタン
.menu-item:hover .drop-menu-list {
  opacity: 0.9;
  transition: opacity .3s, visibility .3s;
  visibility: visible;
}

.menu-item a {
  align-items: center;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: center;
  text-decoration: none;
  width: 120px;
}

.drop-menu {
  position: relative;
}

.drop-menu-list {
  background-color: #696969;
  left: 0;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
  width: max-content;
  z-index: 1;
}
// フォントの設定
@font-face {
  font-family: 'azuki';
  src: font-url('/assets/azuki.ttf');
}

@font-face {
  font-family: 'Corporate-Logo-Rounded-Bold';
  src: font-url('/assets/Corporate-Logo-Rounded-Bold.otf');
}

@font-face {
  font-family: 'toroman';
  src: font-url('/assets/toroman.ttf');
}

@font-face {
  font-family: 'GenEiNuGothic-EB';
  src: font-url('/assets/GenEiNuGothic-EB.ttf');
}

@font-face {
  font-family: 'GenEiAntiquePv5-M';
  src: font-url('/assets/GenEiAntiquePv5-M.ttf');
}

@font-face {
  font-family: 'nicoca_v2';
  src: font-url('/assets/nicoca_v2.ttf');
}

.font-1 {
  font-family: 'kssweetheavycalligraphy';
}

.font-2 {
  font-family: 'azuki';
}

.font-3 {
  font-family: 'toroman';
}

.font-4 {
  font-family: 'GenEiNuGothic-EB';
}

.font-5 {
  font-family: 'GenEiAntiquePv5-M';
}

.font-6 {
  font-family: 'nicoca_v2';
}

.font-size-1{
  font-size: 0.55rem;
}
// 無限スクロール
.scroll{
  height: 95vh;
  overflow: auto;
}

.scroll::-webkit-scrollbar{
  display:none;
}
// タグ一覧のアコーディオン
.tag-title-acordion-button {
  color: #505050;/*文字色*/
  line-height: 0.8;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  text-align: left;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.tag-title-acordion-button:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.tag-title-acordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.tag-title-acordion-button:hover {
  z-index: 2;
}
.tag-title-acordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
}
.tag-title-acordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
}
.tag-title-acordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
// 画面が大きい時の設定
@media screen and (min-width:1025px) {
  // 画面が大きい時は非表示
  .hidden-big-screen{
    display: none;
  }
} 
// 画面が小さい時の設定
@media screen and (max-width:1024px) {
  .mbs-2{
    margin-bottom: 0.1rem;
  }
  .font-size-small {
    font-size: 0.75rem;
  }

  .button-font-size {
    font-size: 5px;
  }

  .hidden-small-screen{
    display: none !important;
  }

  .col-6.full-width {
    width: 100%;
    padding: 0;
    padding-top: 44px;
  }

  .col-10.full-width {
    width: 100%;
    padding: 0;
  }

  .fuller-button {
    color: #bf94ff;
    background: none;
    border-radius: 10px;
    padding: 0.5em 0.7em;
    letter-spacing: 0.35em;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    margin: 0;
  }

  .full-width-iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
}